@import url('./navbar.css');
@import url('./pages-home.css');
@import url('./pages-quem-somos.css');

.page__main__padding {
  height: 11rem;
}

.page__section {
  position: relative;
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}

.page__section:last-of-type {
  margin-bottom: 0px;
}

.page__section__bg,
.page__section__overlay {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.fusion-section {
  border-top: 10vh solid #ced4da;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  width: 0;
  height: 0;
  content: "";
  display: block;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
}



p .underlined {
  border-bottom: 3px solid var(--color-primary);
  font-weight: bold;
}

.shadow-text {
  text-shadow: 1px 2px 1rem #ddd;
}

.page__section__lead,
.text-align-responsive {
  text-align: center;
}

.margin-top-responsive {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .page__section__lead,
  .text-align-responsive {
    text-align: left;
  }

  .margin-top-responsive {
    margin-top: 0;
  }
}